@using MudBlazor
@inherits LayoutComponentBase

<MudLayout>
    <MudAppBar Elevation="1" Fixed="false">
        <MudIconButton
            Icon="@Icons.Material.Filled.Menu"
            Color="Color.Inherit"
            Edge="Edge.Start"
            OnClick="@ToggleDrawer">
        </MudIconButton>
        <MudText Typo="Typo.h6">Naraku Shonin
            @if (OperatingSystem.IsBrowser())
            {
                <span>WASM</span>
            }
            else
            {
                <span>SERVER</span>
            }
            </MudText>
    </MudAppBar>
</MudLayout>
<MudDrawer @bind-Open="_isOpen">
    <MudDrawerContainer>
        <AuthorizeView>
            <Authorized>
                <MudList T="string">
                    <MudListItem T="string" Class="d-flex align-content-center" Style="pointer-events: none">
                        <MudStack Row="true" AlignItems="AlignItems.Center">
                            <MudAvatar>
                                <MudImage Src="@GetAvatar(context.User)"></MudImage>
                            </MudAvatar>
                            <MudText Typo="Typo.body1">@context.User.Identity?.Name</MudText>
                        </MudStack>
                    </MudListItem>
                    <MudListItem T="string" Href="/Account/Logout" Icon="@Icons.Material.Filled.Logout">
                        Logout
                    </MudListItem>
                    <MudDivider/>
                    <MudListItem T="string" Href="/dashboard" Icon="@Icons.Material.Filled.Dashboard">
                        Dashboard
                    </MudListItem>
                </MudList>
            </Authorized>
            <NotAuthorized>
                <MudList T="string">
                    <MudListItem T="string" Href="/Account/Login" Icon="@Icons.Material.Filled.Login">
                        Login
                    </MudListItem>
                </MudList>
            </NotAuthorized>
        </AuthorizeView>
    </MudDrawerContainer>
    <MudNavMenu>

    </MudNavMenu>
</MudDrawer>
<MudMainContent Class="pt-0">
    <MudContainer >
        @Body
    </MudContainer>
</MudMainContent>
@* Required *@
<MudThemeProvider />
<MudPopoverProvider />

@* Needed for dialogs *@
<MudDialogProvider />

@* Needed for snackbars *@
<MudSnackbarProvider />